{% extends 'base.html'%}
{%block title%} 
<h1>Edit tag</h1>
{%endblock%}
{% block content%} 
<form action="/tags/{{ tag.id }}/edit" method="POST">
    <label for="tag">Name</label>
    <input type="text" name="tag" id="tag" value="{{ tag.name }}">
    <button type="button" onclick="backToUser()"  class="btn btn-outline-primary"> Back </button>
    <button type="submit" class="btn btn-success">Save</button>
</form>
<script>
    function backToUser() {
        window.location.href = '/users'
    }
</script>
{%endblock%}