{%extends 'base.html'%}

{%block title%}
<h1>Edit Post </h1> 
{%endblock%}

{%block content%}
<form action="/posts/{{ post.id }}/edit" method="post" id="edit-form">
    <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" value="{{ post.title }}">
    </div>
    <div>
        <label for="content" class="form-label">Content</label>
        <textarea name="content" cols="30" rows="5">{{ post.content }}</textarea>
    </div>

    <div class="button-container">
        <button type="button" class="btn btn-outline-primary" onclick="cancelEdit()">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>

<script>
    function cancelEdit() {
        window.location.href = '/posts/{{ post.id }}';
    }
</script>

{%endblock%}