{%extends 'base.html'%}
{%block title%} 
{%endblock%}
{%block content%}
<div class="post-container">
    <h1 id="post-title">{{ post.title }}</h1>
    <h3 id="post-content">{{ post.content }}</h3>
    {%if post.author %}
        <h4><i>By {{ post.author.get_full_name() }} on {{ post.created_at }} </i></h4>
    {% else %}
        <h4><i>By (deleted_user) on {{ post.created_at }} </i></h4>
    {%endif%}
    <span><b>Tags: </b></span>
        {%if post.tags %}
        {%for tag in post.tags%}
            <span class="tag">{{ tag.name }}</span>
        {%endfor%}
        {% else %}
        <span>No tags</span>
    {% endif %}
</div>

<div class="button-container">
    <form action="/users/{{ post.author_id }}">
        <button class="btn btn-secondary">Back</button>
    </form>
    <form action="/posts/{{ post.id }}/edit">
        <button class="btn btn-primary"> Edit </button>
    </form>
    <form action="/posts/{{ post.id }}/delete" method="POST">
        <button class="btn btn-danger"> Delete </button>
    </form>
</div>



{%endblock%}