{%extends 'base.html' %} 
{%block title%}
<h1>User Details</h1>
{%endblock%}
{%block content%}
<div id="user-detail">
    <img id="user-image" width="200px" height="auto" src="{{ user.image_url }}" alt="The user's profile image">
    <div id="name-container">
        <div class="button-container">
            <h2> {{ user.first_name }} {{ user.last_name }}</h2>
            <form action="/users/{{ user.id }}/edit">
                <button class="btn btn-primary"> Edit </button>
            </form>
            <form action="/users/{{ user.id }}/delete" method="POST">
                <button class="btn btn-danger"> Delete </button>
            </form>
        </div>
    </div>
    <h3>Posts</h3>
    <ul>
        {% if user.posts %}
            {% for post in user.posts %}
                <li><a href="/posts/{{ post.id }}">{{ post.title }} </a></li>
            {%endfor%}
        {% else %}
            <li>No posts yet!</li>
        {% endif %}
    </ul>
 
</div>
<form action="/users/{{ user.id }}/posts/new">
    <button class="btn btn-success">Create New Post</button>
</form>
<form action="/users">
    <button class="btn btn-secondary">Back</button>
</form>


{%endblock%}